backend/openjiuwen_studio/core/dsl_converter/experimental/N8N_workflows/scrape_internal_website_v4.json
[{"updatedAt":"2025-11-30T16:24:58.000Z","createdAt":"2025-11-19T10:43:34.363Z","id":"xVDFiieIhu67t7B0","name":"Scrape internal website","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"scrape-internal","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-736,-16],"id":"fef1ff33-3605-490d-834c-14681caa81d3","name":"Webhook","webhookId":"eb52a364-5707-45ef-8ff2-f62ae08b7f55"},{"parameters":{"jsCode":"// Normalize input - handle both with and without body wrapper\nconst input = $json.body || $json;\n\nreturn {\n  json: {\n    file_path: input.file_path || null,\n    url: input.url || null,\n    urls: input.urls || null\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-544,-16],"id":"bac45ac5-d36b-4e20-8bf8-5eee7d737108","name":"Normalize Input"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.file_path }}","operation":"isNotEmpty"}]}},"type":"n8n-nodes-base.if","typeVersion":1,"position":[-336,-16],"id":"c54ba827-5ff2-4ae1-bf7a-85344116c133","name":"Check File Path"},{"parameters":{"jsCode":"// Get URLs from normalized input\nconst input = $json;\nlet urls = [];\n\nif (input.urls && Array.isArray(input.urls)) {\n  urls = input.urls;\n} else if (input.url) {\n  urls = [input.url];\n}\n\nreturn {\n  json: { \n    urls: urls\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[64,80],"id":"599e6fa4-3d4f-4e6d-9fe5-88030b3db3ea","name":"Use Provided URLs"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[464,-16],"id":"81831291-7615-4a8f-9d92-4b8f0b03f015","name":"Merge"},{"parameters":{"method":"POST","url":"http://scraper:5000/scrape","sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"urls\": $json.urls } }}","options":{"timeout":300000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[880,-16],"id":"95eeba8e-4cad-4435-96fd-44fb5acf8bc5","name":"HTTP Request to Scraper"},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1072,-16],"id":"4da53536-dd0c-4821-b8fb-6b814fb48580","name":"Respond to Webhook"},{"parameters":{"jsCode":"const fileContent = $input.first().json.stdout;\n\nconst urls = fileContent\n  .split('\\n')\n  .map(line => line.trim())\n  .filter(line => line.length > 0 && line.startsWith('http'));\n\nreturn {\n  json: { \n    urls: urls\n  }\n};\n\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[272,-128],"id":"68508ead-cd66-4543-b70e-260da2a03c8b","name":"Extract URLs from File"},{"parameters":{"command":"=cat {{ $json.file_path }}"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[0,-128],"id":"f2bd7378-ae95-4785-990e-93a2783ff4d2","name":"Execute Command"},{"parameters":{"jsCode":"const urls = $json.urls || [];\nconst batchSize = 5;\nconst batches = [];\n\nfor (let i = 0; i < urls.length; i += batchSize) {\n  batches.push({\n    json: {\n      urls: urls.slice(i, i + batchSize),\n      batchIndex: Math.floor(i / batchSize)\n    }\n  });\n}\n\nreturn batches;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[672,-16],"id":"647dad41-6171-4669-93fe-3dcbc851f3d6","name":"Divide to batches"}],"connections":{"Webhook":{"main":[[{"node":"Normalize Input","type":"main","index":0}]]},"Normalize Input":{"main":[[{"node":"Check File Path","type":"main","index":0}]]},"Check File Path":{"main":[[{"node":"Execute Command","type":"main","index":0}],[{"node":"Use Provided URLs","type":"main","index":0}]]},"Use Provided URLs":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Divide to batches","type":"main","index":0}]]},"HTTP Request to Scraper":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Extract URLs from File":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Execute Command":{"main":[[{"node":"Extract URLs from File","type":"main","index":0}]]},"Divide to batches":{"main":[[{"node":"HTTP Request to Scraper","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"67bbf5e2-94fb-47ea-9f45-91894e2b114c","versionCounter":53,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2025-11-19T10:43:34.367Z","createdAt":"2025-11-19T10:43:34.367Z","role":"workflow:owner","workflowId":"xVDFiieIhu67t7B0","projectId":"4wmaZIyKjo0eblen","project":{"updatedAt":"2025-11-19T10:26:37.078Z","createdAt":"2025-11-19T10:26:14.297Z","id":"4wmaZIyKjo0eblen","name":"Nizzan nizzan@huawei.com <nizzan@huawei.com>","type":"personal","icon":null,"description":null}}]}]